p {
  color: teal;
  font-family: "Lemonada", cursive;
}

.stylesheet-container {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  border: 2px solid blue;
  margin: 50px 50px 50px 50px;
  height: 500px;
  width: 250px;
}

img {
  width: 100%;
  height: 100%;
}

/* .stylesheet-king-container {
  border: 1px solid black;
  margin: 20px 40px 20px 40px;
  padding: 20px 20px 20px 20px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  font-size: 18px;
  font-family: sans-serif;
  /* color: #5d6063; */
  /* background-image: repeating-linear-gradient(#6d35f0, #ffcccc); */
  background: linear-gradient(
    120deg,
    rgba(154, 241, 255, 1) 0%,
    rgba(206, 206, 224, 1) 40%,
    rgba(0, 212, 255, 1) 96%
  );
}

a:link,
a:visited {
  color: #5d6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 30px;
  width: 100%;
  padding: 10px;
  background: #d6e9fe;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 0;
}

.header-font {
  font-family: "Sancreek", cursive;
  font-size: 50px;
}

.logo {
  display: flex;
  position: relative;
  left: -17px;
  margin: 0px 40px;
  width: 4em;
  height: 4em;
  border: 1px solid;
  border-radius: 20%;
  /* 
  animation-duration: 5s;
  animation-name: bounce-sign;
  animation-iteration-count: 1;
  animation-timing-function: ease-out; */

  /* needs work here for parallel execution */
  animation: bounce-sign 3s 1 ease-out;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes bounce-sign {
  /* 0% {
    left: -500px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: -17px;
  } */

  0% {
    left: -500px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: -17px;
  }
}

.menu {
  margin-top: 15px;
}

.menu > li {
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

/* .features-menu {
  display: flex;
  flex-direction: column;
  background: #b2d6ff;
  border-radius: 5px;
  padding-top: 60px;

  position: absolute;
  top: -25px;
  left: -35px;

  z-index: 1;
} */

/* pseudo-classes */
.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;

  background: #b2d6ff;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid #fff;

  padding: 0 40px 10px 20px;
  margin: 10px;
}

.features-menu li:last-of-type {
  border-bottom: none;
}

.dropdown {
  position: relative;
}

/* feature to send the declared element infront */
/* change cursor to pointer */
.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.features-menu {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* background: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%); */
  background-image: url("flex-background-img.jpg");
  /* background-color: DodgerBlue; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  max-width: 1200px;
  z-index: 0;
}

/* container for picutres */
.flex-container > div {
  background-color: #f1f1f1;
  margin-top: 150px;
  margin-bottom: 70px;
  padding: 20px 20px;
  font-size: 20px;
  width: 300px;
  height: 350px;
  border-radius: 5%;
  z-index: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes bounce1 {
  0% {
    top: -500px;
  }
  50% {
    top: 400px;
  }
  100% {
    top: 0px;
  }
}

@keyframes bounce2 {
  0% {
    top: -1000px;
  }
  50% {
    top: 400px;
  }
  100% {
    top: 0px;
  }
}

@keyframes bounce3 {
  0% {
    top: -1500px;
  }
  50% {
    top: 400px;
  }
  100% {
    top: 0px;
  }
}

.main-image1 {
  position: relative;
  left: 35px;
  animation-name: bounce1;
  animation-timing-function: ease-out;
}

.main-image2 {
  position: relative;
  left: 450px;
  animation-name: bounce2;
  animation-timing-function: ease-out;
}

.main-image3 {
  position: relative;
  left: 845px;
  animation-name: bounce3;
  animation-timing-function: ease-out;
}

.quotation-font {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  text-align: left;
  color: rgb(24, 3, 3);
}
.elevator-pitch {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  color: rgb(44, 5, 5);
}
/* container for picutres */
.flex-container > p {
  /* background-color: #f1f1f1; */
  margin-top: 150px;
  position: absolute;

  margin-bottom: 70px;
  padding: 20px 20px;

  height: 350px;
  border-radius: 5%;
  z-index: 0;

  /* text-align: center; */

  animation-duration: 4s;
  animation-iteration-count: 1;
}

.first-quote {
  left: 550px;
  width: 700px;
  animation-name: bounce1;
  animation-timing-function: ease-out;
}
.second-quote {
  left: 135px;
  width: 300px;
  top: 575px;
}

.third-quote {
  left: 950px;
  width: 300px;
  top: 575px;
}
.fourth-quote {
  left: 135px;
  width: 700px;
  top: 1145px;
}
